<!DOCTYPE html>
<head>
    <title>qCDN: Register</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <script>
        function delete_file(fid) {
            fetch(`/file/${fid}`, {
                method: "DELETE"
            })
                .then(x => alert("deleted"))
                .then(x => location.reload());
        }
    </script>
</head>
<body>
    <script>
        function logout() {
            document.cookie = "token=-; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
            location.reload();
        }

        function login() {
            const token = document.getElementById("token_input").value;
            document.cookie = `token=${token}; expires=Tue, 19 Jan 2038 00:00:00 GMT; path=/;`;
            location.reload()
        }
    </script>
    {% if user %}
        {% if user.admin %}
        <h3 style="color:red">Hi, {{ user.name }}</h3>
        <hr>
        <b>Admin Panel</b>
        <a href="/stats">Stats...</a>
        <a href="/wizard">New User...</a>
        <hr>
        {% else %}
        <h3>Hi, {{ user.name }}</h3>
        {% endif %}
        <ul>
            <li><b>Quota:</b> {{info["quota_used"]}} / {{info["quota"]}}</li>
            <li><b>Single-file size limit:</b> {{info["size_limit"]}}</li>
            <li><b>Uploads:</b> {{info["upload_count"]}}</li>
        </ul>
        <button onclick="logout()">Logout</button>
        <h3> Your files <a href="/upload">Add...</a> </h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Size</th>
                <th>Download</th>
                <th>Info</th>
                <th>Delete</th>
            </tr>
            {%- for f in files %}
            <tr>
                <td>{{f.id}}</td>
                <td>{{f.name}}</td>
                <td>{{f.size_nice()}}</td>
                <td><a href={{f.download_url()}}>Download</a></td>
                <td><a href="/file/{{f.id}}">Info</a></td>
                <td>
                    <button onclick="delete_file(this.name)" name="{{f.id}}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <hr>
    <label for="token_input">Token </label><input id="token_input" placeholder="put token here..." type="password">
    <button type="button" onclick="login()">Login</button>
</body>